{% extends 'signed-in.html' %}

{% set title = 'App settings' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="pt-3 row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-4">
            <form action="{{ url_for('app_settings_update') }}" method="post">
                <fieldset>
                    <legend>Expenses</legend>
                    <div class="mb-3">
                        <label class="form-label" for="expenses_db">Expenses database path</label>
                        <input class="form-control" id="expenses_db" name="expenses_db" type="text"
                               value="{{ g.app_settings.expenses_db }}">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>SMTP settings</legend>
                    <div class="mb-3">
                        <label class="form-label" for="smtp_server">SMTP server</label>
                        <input class="form-control" id="smtp_server" name="smtp_server" type="text"
                               value="{{ g.app_settings.smtp_server }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="smtp_username">SMTP username</label>
                        <input class="form-control" id="smtp_username" name="smtp_username" type="text"
                               value="{{ g.app_settings.smtp_username }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="smtp_password">SMTP password</label>
                        <input class="form-control" id="smtp_password" name="smtp_password" type="password"
                               value="{{ g.app_settings.smtp_password }}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="smtp_from_address">SMTP from address</label>
                        <input class="form-control" id="smtp_from_address" name="smtp_from_address" type="text"
                               value="{{ g.app_settings.smtp_from_address }}">
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Other settings</legend>
                    <div class="form-check mb-3">
                        <input {{ 'checked' if g.app_settings.debug_layout == 'true' }} class="form-check-input"
                               id="debug_layout" name="debug_layout" type="checkbox">
                        <label class="form-check-label" for="debug_layout">Enable debug layout hints</label>
                    </div>
                </fieldset>
                <button class="btn btn-primary" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}
