{% extends 'signed-in.html' %}

{% set title = 'Balances' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="pt-3 row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-4">
            <a class="btn btn-primary" href="#">Add account</a>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <ul class="nav nav-tabs">
            {% for a in g.accounts %}
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if loop.first }}" data-bs-toggle="tab" href="#account-{{ a.account_id }}">
                        {{ a.account_name }}
                        <span class="badge text-bg-primary">$ {{ '{:,.2f}'.format(a.account_balance) }}</span>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <div class="tab-content">
            {% for a in g.accounts %}
                <div class="fade tab-pane {{ 'active show' if loop.first }}" id="account-{{ a.account_id }}">
                    <table class="d-block table table-striped">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Description</th>
                            <th class="text-end">Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                    {% for t in a.transactions if t.tx_id %}
                        <tr>
                            <td>{{ t.tx_date }}</td>
                            <td>{{ t.tx_description }}</td>
                            <td class="text-end">$ {{ '{:,.2f}'.format(t.tx_value) }}</td>
                        </tr>
                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
