{% extends 'signed-in.html' %}

{% set title = 'Balances' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <table class="d-block table table-striped">
                <thead>
                <tr>
                    <th>Account</th>
                    <th class="text-end">Balance</th>
                </tr>
                </thead>
                <tbody>
                {% for a in g.accounts %}
                    <tr data-href="{{ url_for('balances_detail', account_id=a.account_id) }}" role="button">
                        <td>{{ a.account_name }}</td>
                        <td class="text-end">$ {{ '{:,.2f}'.format(a.account_balance) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
