{% extends 'balances.html' %}

{% block title %}{{ super() }} / {{ g.account_name }}{% endblock %}

{% block breadcrumb %}
    <a class="btn btn-outline-dark" href="{{ url_for('balances') }}">
        <strong>
            <i class="bi-chevron-left"></i>
            Balances
        </strong>
    </a>
{% endblock %}

{% block content %}
    <div class="pt-3 row">
        <div class="col">
            <h1>{{ g.account_name }}</h1>
            <p>Current balance: $ {{ '{:,.2f}'.format(g.account_balance) }}</p>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <a class="btn btn-success" data-bs-target="#modal-add-tx" data-bs-toggle="modal">
                Add transaction
            </a>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <table class="d-block table table-striped">
                <tbody>
                {% for t in g.transactions if t.tx_id %}
                    <tr>
                        <td>
                            <span class="badge text-bg-secondary">{{ t.tx_date }}</span><br>
                            {{ t.tx_description }}
                        </td>
                        <td class="text-end">
                            <span class="badge {{ 'text-bg-success' if t.tx_value >= 0 else 'text-bg-danger' }}">
                                $ {{ '{:,.2f}'.format(t.tx_value|abs) }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="modal-add-tx">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a transaction</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('balances_add_tx') }}" method="post" id="form-add-tx">
                        <input name="account-id" type="hidden" value="{{ g.account_id }}">
                        <div class="mb-3">
                            <label class="form-label" for="tx-date">Date</label>
                            <input class="form-control" id="tx-date" name="tx-date" required type="date"
                                   value="{{ g.today }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="tx-description">Description</label>
                            <input class="form-control" id="tx-description" name="tx-description" required type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="tx-value">Amount</label>
                            <input class="form-control" id="tx-value" name="tx-value" required step="0.01"
                                   type="number">
                        </div>
                    </form>
                </div>
                <div class="justify-content-between modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" form="form-add-tx">Add transaction</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
