<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Yavin{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.0.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-icons-1.10.5.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='yavin.css') }}">
    {% block end_of_head %}{% endblock %}
</head>
<body>
<div class="container-fluid">

    <div class="row pt-3">
        <div class="col">
            {% block breadcrumb %}
                <a class="btn btn-outline-dark" href="#">
                    <strong>
                        <i class="bi-house-fill"></i>
                        Yavin
                    </strong>
                </a>
            {% endblock %}
        </div>
        <div class="col">{% block sign_in %}{% endblock %}</div>
    </div>

    {% block content %}{% endblock %}

    <div class="row pt-3 pb-2">
        <div class="col">
            <hr class="border-light">
            <small class="text-body-secondary">
                {{ g.version }}
                {% if g.app_settings.debug_layout == 'true' %}
                    <span class="d-inline d-sm-none">xs</span>
                    <span class="d-none d-sm-inline d-md-none">sm</span>
                    <span class="d-none d-md-inline d-lg-none">md</span>
                    <span class="d-none d-lg-inline d-xl-none">lg</span>
                    <span class="d-none d-xl-inline d-xxl-none">xl</span>
                    <span class="d-none d-xxl-inline">xxl</span>
                {% endif %}
            </small>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='bootstrap-5.3.0.bundle.js') }}"></script>
{% block end_of_body %}{% endblock %}
</body>
</html>
