{% extends 'signed-in.html' %}

{% set title = 'Billboard Hot 100 #1' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="row pt-3">
        <div class="col">
            <p><strong>{{ g.latest.title }}</strong> by {{ g.latest.artist }}</p>
            <p>
                Last fetched: {{ g.latest.fetched_at | datetime }} UTC
            </p>
        </div>
    </div>

{% endblock %}
