{% extends 'signed-in.html' %}

{% block title %}Yavin / Electricity{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Yavin</a></li>
    <li class="breadcrumb-item active">Electricity</li>
{% endblock %}

{% block content %}
    <div class="row pt-3">
        <div class="col">
            <form action="{{ url_for('electricity_add') }}" method="post">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label for="bill-date" class="sr-only">When</label>
                        <input class="form-control mb-2" type="date" name="bill_date" id="bill-date" required>
                    </div>
                    <div class="col-auto">
                        <label for="kwh" class="sr-only">kWh</label>
                        <input class="form-control mb-2" type="number" name="kwh" id="kwh" step="1" min="0" placeholder="kWh" required>
                    </div>
                    <div class="col-auto">
                        <label for="charge" class="sr-only">Charge</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input class="form-control" type="number" name="charge" id="charge" step="0.01" min="0" placeholder="Charge" required>
                        </div>
                    </div>    
                    <div class="col-auto">
                        <label for="bill" class="sr-only">Bill</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input class="form-control" type="number" name="bill" id="bill" step="0.01" min="0" placeholder="Bill" required>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success mb-2">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-right">kWh</th>
                    <th class="text-right">Charge</th>
                    <th class="text-right">Bill</th>
                </tr>
                </thead>
                <tbody>
                {% for record in g.records %}
                    <tr>
                        <td>{{ record.bill_date }}</td>
                        <td class="text-right">{{ record.kwh }}</td>
                        <td class="text-right">{{ '$ %.2f'|format(record.charge) }}</td>
                        <td class="text-right">{{ '$ %.2f'|format(record.bill) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
