{% extends 'signed-in.html' %}

{% set title = 'Electricity' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="row pt-3">
        <div class="col">
            <form action="{{ url_for('electricity_add') }}" method="post">
                <div class="row g-1">
                    <div class="col-auto">
                        <input class="form-control" type="date" name="bill_date" aria-label="When" required>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" type="number" name="kwh" step="1" min="0" placeholder="kWh"
                               aria-label="kWh" required>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input class="form-control" type="number" name="charge" step="0.01" min="0"
                                   placeholder="Charge" aria-label="Charge" required>
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input class="form-control" type="number" name="bill" step="0.01" min="0" placeholder="Bill"
                                   aria-label="Bill" required>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table d-block">
                <thead>
                <tr>
                    <th>Date</th>
                    <th class="text-end">kWh</th>
                    <th class="text-end">12 month avg</th>
                    <th class="text-end">Charge</th>
                    <th class="text-end">Bill</th>
                </tr>
                </thead>
                <tbody>
                {% for record in g.records %}
                    <tr>
                        <td>{{ record.bill_date }}</td>
                        <td class="text-end">{{ record.kwh }}</td>
                        <td class="text-end">{{ record.avg_12_months }}</td>
                        <td class="text-end">{{ '$ %.2f' | format(record.charge) }}</td>
                        <td class="text-end">{{ '$ %.2f' | format(record.bill) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
