{% extends 'signed-in.html' %}

{% set title = 'Expenses' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="row pt-3">
        <div class="col">
            <form>
                <div class="row g-1">
                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-text">from</span>
                            <input type="date" class="form-control" name="start_date" value="{{ g.start_date }}"
                                   aria-label="Start date">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <span class="input-group-text">to</span>
                            <input type="date" class="form-control" name="end_date" value="{{ g.end_date }}"
                                   aria-label="End date">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>
                        <div class="row g-1 justify-content-between">
                            <div class="col-auto"><strong>Total</strong></div>
                            <div class="col-auto"><strong>$ {{ '{:,.2f}'.format(g.total) }}</strong></div>
                        </div>
                    </td>
                </tr>
                {% for e in g.expenses %}
                    <tr>
                        <td>
                            <div class="row g-1 justify-content-between">
                                <div class="col-auto">
                                    {{ e.description }}<br>
                                    {% if e.memo %}<small>{{ e.memo }}</small>{% endif %}
                                </div>
                                <div class="col-auto text-end"><strong>$ {{ '{:,.2f}'.format(e.amount) }}</strong></div>
                            </div>
                            <div class="row g-1 justify-content-between">
                                <div class="col-auto"><span class="badge bg-primary">{{ e.account[13:] }}</span></div>
                                <div class="col-auto text-end text-body-secondary">{{ e.post_date[:10] }}</div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
