{% for r in g.rows %}
    {% if loop.index < 11 %}
        <tr>
            <td>{{ r.entry_date }}</td>
        </tr>
    {% else %}
        <tr>
            <td class="py-3 text-center" hx-post="{{ url_for('jar_rows', page=g.page + 1) }}" hx-target="closest tr"
                hx-trigger="revealed" hx-swap="outerHTML">
                <span class="htmx-indicator spinner-border spinner-border-sm"></span>
            </td>
        </tr>
    {% endif %}
{% else %}
    <tr class="text-center">
        <td>No entries found.</td>
    </tr>
{% endfor %}
