{% extends 'signed-in.html' %}

{% set title = 'Jar' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="row pt-3">
        <div class="col">
            <form action="{{ url_for('jar_add') }}" method="post">
                <div class="row g-1">
                    <div class="col-auto">
                        <input type="date" class="form-control" name="entry_date" value="{{ g.today }}"
                               title="Entry date">
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <h4>Days since last entry: {{ g.days_since_last }}</h4>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table d-block">
                <thead>
                <tr>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody hx-post="{{ url_for('jar_rows') }}" hx-trigger="load">
                <tr>
                    <td class="py-3 text-center">
                        <span class="htmx-indicator spinner-border spinner-border-sm"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
