{% extends 'signed-in.html' %}

{% set title = 'Library' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="row pt-3">
        <div class="col">
            <table class="table d-block">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Library</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Balance</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for lib_cred in g.library_credentials | sort(attribute='display_name') %}
                    <tr>
                        <td>{{ lib_cred.display_name }}</td>
                        <td>{{ lib_cred.library }}</td>
                        <td>{{ lib_cred.username }}</td>
                        <td>***</td>
                        <td>{{ lib_cred.balance }}&cent;</td>
                        <td>
                            <form action="{{ url_for('library_delete') }}" method="post">
                                <input type="hidden" name="id" value="{{ lib_cred.id }}">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    <i class="bi-trash-fill"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        <form id="form-add-library" action="{{ url_for('library_add') }}" method="post">
                            <input type="text" class="form-control" name="display_name" placeholder="Name"
                                   aria-label="Name" required>
                        </form>
                    </td>
                    <td>
                        <input type="text" class="form-control" form="form-add-library" name="library"
                               placeholder="Library" aria-label="Library" required>
                    </td>
                    <td>
                        <input type="text" class="form-control" form="form-add-library" name="username"
                               placeholder="Username" aria-label="Username" required>
                    </td>
                    <td>
                        <input type="password" class="form-control" form="form-add-library" name="password"
                               placeholder="Password" aria-label="Password" required>
                    </td>
                    <td></td>
                    <td>
                        <button type="submit" form="form-add-library" class="btn btn-success">
                            <i class="bi-plus-circle-fill"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table d-block">
                <thead>
                <tr>
                    <th>Due</th>
                    <th>Title</th>
                    <th>Account</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for book in g.library_books | sort(attribute='title') | sort(attribute='due') %}
                    <tr>
                        <td>{{ book.due }}</td>
                        <td><span class="badge bg-dark">{{ book.medium }}</span> {{ book.title }}</td>
                        <td>{{ book.display_name }}</td>
                        <td>
                        {% if book.renewable %}
                            <form action="{{ url_for('library_renew') }}" method="post">
                                <input type="hidden" name="item_id" value="{{ book.item_id }}">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="bi-arrow-repeat"></i>
                                </button>
                            </form>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
