{% extends 'signed-in.html' %}

{% set title = 'Library' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <a class="btn btn-primary mb-2" href="{{ url_for('library_accounts') }}">
                <i class="bi-person-badge"></i>
                Manage accounts
            </a>
            <a class="btn btn-primary mb-2" href="{{ url_for('library_sync_now') }}">
                <i class="bi-arrow-repeat"></i>
                Sync now
            </a>
            <a class="btn btn-primary mb-2" href="{{ url_for('library_notify_now') }}">
                <i class="bi-bell"></i>
                Notify now
            </a>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table d-block">
                <thead>
                <tr>
                    <th>Due</th>
                    <th>Title</th>
                    <th>Account</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for book in g.library_books | sort(attribute='title') | sort(attribute='due') %}
                    <tr>
                        <td>{{ book.due }}</td>
                        <td><span class="badge bg-dark">{{ book.medium }}</span> {{ book.title }}</td>
                        <td>{{ book.display_name }}</td>
                        <td>
                        {% if book.renewable %}
                            <form action="{{ url_for('library_renew') }}" method="post">
                                <input type="hidden" name="item_id" value="{{ book.item_id }}">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    <i class="bi-arrow-repeat"></i>
                                </button>
                            </form>
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
