{% extends 'signed-in.html' %}

{% block title %}Yavin / Movie night{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ url_for('index') }}">Yavin</a></li>
    <li class="active">Movie night</li>
{% endblock %}

{% block content %}
    <div class="row bump-top-padding">
        <div class="col-md-12">
            <button class="btn btn-default" data-toggle="modal" data-target="#modal-add-pick">Add pick</button>
            <button class="btn btn-default" data-toggle="modal" data-target="#modal-manage-people">Manage people</button>
        </div>
    </div>

    <div class="row bump-top-padding">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>When</th>
                    <th>Who</th>
                    <th>What</th>
                    <th class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                {% for pick in g.picks|sort(reverse=True, attribute='pick_date') %}
                    <tr>
                        <td>{{ pick.pick_date }}</td>
                        <td>{{ pick.person }}</td>
                        <td>
                            {% if pick.pick_url is none %}
                                {{ pick.pick_text }}
                            {% else %}
                                <a href="{{ pick.pick_url }}" target="_blank">{{ pick.pick_text }}</a>
                            {% endif %}
                        </td>
                        <td class="text-right">
                            <button class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal-edit-{{ pick.id }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for pick in g.picks %}
    <div class="modal fade" id="modal-edit-{{ pick.id }}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit this movie pick</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('movie_night_edit_pick') }}" method="post" id="form-edit-{{ pick.id }}">
                        <input type="hidden" name="id" value="{{ pick.id }}">
                        <div class="form-group">
                            <label for="pick-date-{{ pick.id }}">When</label>
                            <input class="form-control" type="date" name="pick_date" id="pick-date-{{ pick.id }}" value="{{ pick.pick_date }}" required>
                        </div>
                        <div class="form-group">
                            <label for="person-id-{{ pick.id }}">Who</label>
                            <select class="form-control" name="person_id" id="person-id-{{ pick.id }}" required>
                                {% for person in g.people|sort(attribute='person') %}
                                    <option value="{{ person.id }}"{% if person.id == pick.person_id %} selected{% endif %}>{{ person.person }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pick-text-{{ pick.id }}">What</label>
                            <input class="form-control" type="text" name="pick_text" id="pick-text-{{ pick.id }}" value="{{ pick.pick_text }}" required>
                        </div>
                        <div class="form-group">
                            <label for="pick-url-{{ pick.id }}">URL</label>
                            <input class="form-control" type="text" name="pick_url" id="pick-url-{{ pick.id }}" value="{{ pick.pick_url if pick.pick_url is not none }}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger" formaction="{{ url_for('movie_night_delete_pick') }}" form="form-edit-{{ pick.id }}">Delete</button>
                    <button class="btn btn-success" form="form-edit-{{ pick.id }}">Save</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="modal fade" id="modal-add-pick" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Add a movie pick</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('movie_night_add_pick') }}" method="post" id="form-add-pick">
                        <div class="form-group">
                            <label for="pick_date">When</label>
                            <input class="form-control" type="date" name="pick_date" id="pick_date" value="{{ g.today }}" required>
                        </div>
                        <div class="form-group">
                            <label for="person_id">Who</label>
                            <select class="form-control" name="person_id" id="person_id" required>
                                {% for person in g.people|sort(attribute='person') %}
                                    <option value="{{ person.id }}"{% if person.pick_order == 1 %} selected{% endif %}>{{ person.person }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pick_text">What</label>
                            <input class="form-control" type="text" name="pick_text" id="pick_text" required>
                        </div>
                        <div class="form-group">
                            <label for="pick_url">URL</label>
                            <input class="form-control" type="text" name="pick_url" id="pick_url">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" form="form-add-pick">Add pick</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-manage-people" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>People</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for person in g.people|sort(attribute='person') %}
                            <tr>
                                <td>{{ person.person }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>
                                <form id="form-add-person" action="{{ url_for('movie_night_add_person') }}" method="post">
                                    <input class="form-control" name="person" placeholder="Name" data-modal-focus required>
                                </form>
                            </td>
                            <td><button class="btn btn-primary btn-block" form="form-add-person">Add</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
