{% extends 'signed-in.html' %}

{% set title = 'Packages' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block end_of_head %}
    {#
        Disable automatic detection of possible phone numbers in a webpage in Safari on iOS.
        https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html#//apple_ref/doc/uid/TP40008193-SW5
    #}
    <meta name="format-detection" content="telephone=no">
{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="g-1 pt-3 row">
        <div class="col-auto">
            <input aria-label="Find a package" autofocus class="form-control" id="filter-input"
                   placeholder="Find a package ..." type="text">
        </div>
        <div class="col">
            <a class="btn btn-primary" data-action="Add a package" data-arrived-at="" data-bs-toggle="modal"
               data-expected-at="" data-notes="" data-shipper="" data-tracking-number="" href="#modal-package">
                Add a package
            </a>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <table class="d-block table">
                <thead>
                <tr>
                    <th>Tracking number</th>
                    <th>Shipper</th>
                    <th>Notes</th>
                    <th>Expected at</th>
                    <th>Arrived at</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for p in g.packages %}
                    <tr class="collapse filter-candidate show {{ 'text-muted' if p.arrived_at }}"
                        data-filter-value={{ p.tracking_number | lower }}>
                        <td>{{ p.tracking_number }}</td>
                        <td>{{ p.shipper }}</td>
                        <td>{{ p.notes }}</td>
                        <td>{{ p.expected_at or '' }}</td>
                        <td>{{ p.arrived_at or '' }}</td>
                        <td>
                            <a class="btn btn-sm btn-outline-primary" data-action="Update this package"
                               data-arrived-at="{{ p.arrived_at or '' }}" data-bs-toggle="modal"
                               data-expected-at="{{ p.expected_at or '' }}" data-notes="{{ p.notes }}"
                               data-shipper="{{ p.shipper }}" data-tracking-number="{{ p.tracking_number }}"
                               href="#modal-package">
                                <i class="bi-pencil-fill"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="modal-package">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span id="modal-action"></span></h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('packages_update') }}" method="post" id="form">
                        <div class="mb-3">
                            <label class="form-label" for="tracking-number">Tracking number</label>
                            <input class="form-control" id="tracking-number" name="tracking-number" required type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="shipper">Shipper</label>
                            <input class="form-control" id="shipper" name="shipper" required type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="notes">Notes</label>
                            <input class="form-control" id="notes" name="notes" type="text">
                        </div>
                        <div class="g-1 row">
                            <div class="col mb-3">
                                <label class="form-label" for="expected-at">Expected at</label>
                                <input class="form-control" id="expected-at" name="expected-at" type="date">
                            </div>
                            <div class="col mb-3">
                                <label class="form-label" for="arrived-at">Arrived at</label>
                                <input class="form-control" id="arrived-at" name="arrived-at" type="date">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="justify-content-between modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancel</button>
                    <button class="btn btn-success" form="form" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_of_body %}
    {{ super() }}
    <script src="{{ url_for('static', filename='debounce-1.1.js') }}"></script>
    <script src="{{ url_for('static', filename='packages.js') }}"></script>
    <script src="{{ url_for('static', filename='filter.js') }}"></script>
{% endblock %}
