{% extends 'signed-in.html' %}

{% set title = 'Phone usage' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="row pt-3">
        <div class="col">
            <a class="btn btn-primary" href="#modal-add-phone-usage" data-bs-toggle="modal">Add usage</a>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table d-block">
                <thead>
                <tr>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Minutes</th>
                    <th>Messages</th>
                    <th>Megabytes</th>
                </tr>
                </thead>
                <tbody>
                {% for record in g.records %}
                    <tr>
                        <td>{{ record.start_date }}</td>
                        <td>{{ record.end_date }}</td>
                        <td>{{ record.minutes }}</td>
                        <td>{{ record.messages }}</td>
                        <td>{{ record.megabytes }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="modal-add-phone-usage">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add phone usage</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('phone_add') }}" method="post" id="form-add-phone-usage">
                        <div class="mb-3">
                            <label for="start-date" class="form-label">Start date</label>
                            <input class="form-control" type="date" name="start-date" id="start-date" required>
                        </div>
                        <div class="mb-3">
                            <label for="end-date" class="form-label">End date</label>
                            <input class="form-control" type="date" name="end-date" id="end-date" required>
                        </div>
                        <div class="mb-3">
                            <label for="minutes" class="form-label">Minutes</label>
                            <input class="form-control" type="number" name="minutes" id="minutes" step="1" min="0"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="messages" class="form-label">Messages</label>
                            <input class="form-control" type="number" name="messages" id="messages" step="1" min="0"
                                   required>
                        </div>
                        <div class="mb-3">
                            <label for="megabytes" class="form-label">Megabytes</label>
                            <input class="form-control" type="number" name="megabytes" id="megabytes" step="1" min="0"
                                   required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success" form="form-add-phone-usage">Add usage</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
