{% extends 'index.html' %}

{% block sign_in %}
    <div class="dropdown float-end">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
            <i class="bi-person-fill"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">{{ session.email }}</h6>
            <a class="dropdown-item" href="{{ url_for('sign_out') }}">Sign out</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row pt-3">
        <div class="col">
            <div class="list-group">
            {% for view, title in g.pages.items() %}
                <a class="list-group-item list-group-item-action" href="{{ url_for(view) }}">{{ title|safe }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
