{% extends 'signed-in.html' %}

{% set title = 'Tithing' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="pt-3 row">
        <div class="col">
            <p>Current tithing owed: <strong>$ {{ '{:,.2f}'.format(g.tithing_owed) }}</strong></p>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <a class="btn btn-success" data-bs-toggle="modal" href="#modal-add-tx">
                <i class="bi-piggy-bank"></i>
                Add income transaction
            </a>
            <a class="btn btn-primary" data-bs-toggle="modal" href="#modal-mark-paid">
                <i class="bi-cash-coin"></i>
                Mark tithing paid
            </a>
        </div>
    </div>

    <div class="pt-3 row">
        <div class="col">
            <table class="d-block table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th class="text-end">Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for t in g.transactions %}
                    <tr>
                        <td>{{ t.date }}</td>
                        <td>{{ t.description }}</td>
                        <td class="text-end">$ {{ '{:,.2f}'.format(t.amount) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal" id="modal-add-tx">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a transaction</h5>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('tithing_income_add') }}" method="post" id="form-add-tx">
                        <div class="mb-3">
                            <label class="form-label" for="tx-date">Date</label>
                            <input class="form-control" id="tx-date" name="tx-date" required type="date"
                                   value="{{ g.today }}">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="tx-description">Description</label>
                            <input class="form-control" id="tx-description" name="tx-description" required type="text">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="tx-value">Amount</label>
                            <input class="form-control" id="tx-value" name="tx-value" required step="0.01"
                                   type="number">
                        </div>
                    </form>
                </div>
                <div class="justify-content-between modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button class="btn btn-success" form="form-add-tx" type="submit">Add transaction</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="modal-mark-paid">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Mark all tithing paid</h5>
                </div>
                <div class="justify-content-between modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('tithing_income_paid') }}" method="post">
                        <button class="btn btn-success" type="submit">Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
