{% extends 'signed-in.html' %}

{% set title = 'User permissions' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    <div class="pt-3 row">
        <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-4">
            <table class="table">
                <thead>
                <tr>
                    <th>Email</th>
                    <th>Permissions</th>
                </tr>
                </thead>
                <tbody>
                {% for u in g.users %}
                    <tr>
                        <td>{{ u.email }}</td>
                        <td>
                        {% for p in u.permissions %}
                            <code>{{ p }}</code>
                        {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
