{% extends 'signed-in.html' %}

{% set title = 'Weight' %}

{% block title %}{{ super() }} / {{ title }}{% endblock %}

{% block breadcrumb %}
    {% include '_back_to_home.html' %}
{% endblock %}

{% block content %}
    {% include '_page_title_h1.html' %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="row pt-3">
                <div class="col">
                    {% for category, message in messages %}
                        <div class="alert alert-dismissible {{ category }}">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}

    <div class="row pt-3">
        <div class="col">
            <form action="{{ url_for('weight_add') }}" method="post">
                <div class="row g-1">
                    <div class="col-auto">
                        <input type="date" class="form-control" name="entry_date" value="{{ g.today }}"
                               title="Entry date" required>
                    </div>
                    <div class="col-auto">
                        <div class="input-group">
                            <input type="number" class="form-control" name="weight" value="{{ g.default_weight }}"
                                   title="Weight" step="any" min="1" required>
                            <span class="input-group-text">lbs</span>
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row pt-3">
        <div class="col">
            <table class="table d-block">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Weight</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in g.weight_entries %}
                    <tr>
                        <td>{{ entry.entry_date }}</td>
                        <td>{{ entry.weight }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
