.container-top {
    margin-top: 10px;
    width: 90%;
}

.bump-top-padding {
    padding-top: 10px;
}

#jar_chart, #weight_chart {
    height: 800px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
}
